body {
  display: block;
  margin: 0px;
  height: 100vh;
  background-color: black;
}
#flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > label {
  color: rgb(6, 163, 19);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 02vw;
  /* display: inline-block; */
}
input[id="number"] {
  width: 13vw;
  height: 02vh;
  top: 1vh;
  float: right;
  position: relative;
  /* right: 1vw; */
}
button[type="button"] {
  margin-top: 3vh;
  border-radius: 15%;
  font-size: 34px;
  border: 40px;
  background-color: rgb(6, 163, 19);
}
